* {
  box-sizing: border-box;
}
.postPageWrap,
.writeWrap {
  width: 100%;
  padding: 100px 10px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postPageWrap .postWrap,
.writeTitleWrap,
.writePostWrap,
.writePostWrap .writePost {
  width: 100%;
}
.myPost {
  width: 100%;
}
.postWrap .postTitle {
  padding: 20px 10px;
  border-bottom: 1px solid #e8e8e8;
}
.postWrap .postDesc {
  padding: 30px 10px;
}
.postDate {
  display: block;
  margin-top: 60px;
  font-size: 14px;
  color: #767676;
}
.postWrap .postProfile {
  position: relative;
  padding: 30px 10px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.postProfile .profileImg {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  font-size: 12px;
}

.postChangeGroup {
  position: absolute;
  right: 10px;
}
.postBtn {
  border: none;
  background-color: transparent;
  margin: 0 10px;
  cursor: pointer;
}
.myComment {
  width: 100%;
  padding: 30px 0;
}

.commentForm .commentInput {
  width: 100%;
  height: 100px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border: none;
}
.commentForm .commentInput:focus-visible {
  border: 1px solid #e2e8f0;
  outline: none;
}
.commentForm .commentSubmitBtn {
  float: right;
}
.commentForm::after {
  content: '';
  display: block;
  clear: right;
}

.btn {
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-sizing: border-box;
  color: #1a202c;
  padding: 5px 10px;
  text-decoration: none;

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:active {
  box-shadow: none;
  border: 1px solid #e2e8f0;
}
@media (hover: hover) {
  .btn:hover {
    box-shadow: none;
    border: 1px solid #e2e8f0;
  }
}

.commentList {
  width: 100%;
}

.comment {
  position: relative;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.comment .commentProfile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment .commentProfile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
.comment .commentDesc {
  width: 100%;
  margin-top: 30px;
}

.changeBtnGroup {
  position: absolute;
  right: 10px;
  top: 40px;
}

.writeBtn {
  align-self: flex-end;
}

.writeTitleWrap {
  padding: 0 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #767676;
}
.writePostWrap {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 30px;
}
#writeTitle {
  width: 100%;
  padding: 20px 0px;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid #e8e8e8;
}
.writePost {
  min-height: 400px;
  border: 1px solid #767676;
  padding: 10px;
  font-size: 1rem;
}

.postDesc:first-child {
  white-space: pre;
}

#writeTitle:focus-visible,
.writePost:focus-visible {
  outline: none;
}

.noDisplay {
  display: none;
}
.yesDisplay {
  display: block;
}
