.slide { 
  width: 400px;
  height: 100%;
  position: relative;
  margin: 0 auto 30px auto;
  overflow: hidden;
  border-radius: 5px;
}

.wrap > h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

  font-family: "IBM Plex Sans KR", sans-serif;
}

.carousel-inner {
  border: 1px solid #051619;
}

@media (max-width: 768px) {
  .slide {
    display: none;
  }

  .wrap > h1 {
    display: none;
  }
  }

/* .feed {
  border: 1px solid #051619;
} */