* {
  background: #eae7de;

  font-family: 'IBM Plex Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

#profile {
  max-width: 1360px;
  margin: 2rem auto 8rem auto;
  padding: 0 5% 0 5%;
}

#profileImageForm {
  border: 1px solid #051619;

  padding: 1.5rem 2rem;

  margin-bottom: 1.5rem;
}

#profileImageForm > img {
  width: 250px;
  height: 250px;

  border: 1px solid #051619;

  margin-bottom: 1rem;
}

#profileBtn {
  margin-top: 1rem;

  background-color: whitesmoke;
}

.boxs {
  border: 1px solid #051619;
  margin-bottom: -1px;

  padding: 0.5rem 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.boxs > h2 {
  flex-basis: 15%;
}

.boxs > div {
  flex-basis: 85%;
}

.textFieldInput {
  width: 20%;

  font: inherit;

  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
}

/* .filebox > label {
  display: inline-block;
  padding: .5em .75em;
  color: black;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid black;
  border-bottom-color: black;
  border-radius: .25em;
}

파일 필드 숨기기
.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
} */

#intro {
  line-height: 150%;
}